/**
 * styles.css
 *
 */

body {
    background-color: #bbb;
}

.container {

    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.bottom {
    margin-top: 200px;
}

.comment {
    padding: 4px;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: left;
    box-shadow: 1px 1px 1px #888888;
    border-radius: 4px;
    background-color: #ffffff;
}

.commment-form {
    background-color: #ffffff;
}

.navbar {
    background-color: #6699FF;
    padding-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.navbar-inner {
    display: inline-block;
}

.navbar-inner a {
    color: #ffffff;
    font-size: 16px;
    font-family: "Helvetica", serif;
}

.users {
    padding: 4px;
    box-shadow: 1px 1px 1px #888888;
    border-radius: 4px;
    background-color: #ffffff;
}

.profile {
    padding: 4px;
    box-shadow: 1px 1px 1px #888888;
    border-radius: 4px;
    background-color: #ffffff;
}

.media-body h6 {
    margin: 4px 2px;
    color: #999999;
}